.mat-column-logo {
  width: 32px;
  padding-right: 24px;
  text-align: center;
}

.mat-column-name {
  padding-left: 50px;  
}


.mat-column-actions {
  width: 32px;
  padding-right: 24px;
  text-align: right;
}
