<div class="row">
  <table mat-table [dataSource]="engagements" class="mat-elevation-z8 table">
    <!-- Name -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <!-- Start Date -->
  <ng-container matColumnDef="startDate">
    <th mat-header-cell *matHeaderCellDef> Start Date </th>
    <td mat-cell *matCellDef="let element"> {{element.startDate | date}} </td>
  </ng-container>

  <!-- End Date -->
  <ng-container matColumnDef="endDate">
    <th mat-header-cell *matHeaderCellDef> End Date </th>
    <td mat-cell *matCellDef="let element"> {{element.endDate | date}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row class="element-row"
  (click)="onSelect(row)"
  [class.row-is-clicked]="selectedEngagement == row"
  *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
