<div class="row">
  <form #f="ngForm" (ngSubmit)="onAddToolTech(f)">
    <div class="row">
    <mat-form-field class="col-sm-3 form-group">
      <mat-label>ID</mat-label>
      <input matInput name="toolTechId" readonly id="tool-tech-id" [(ngModel)]="toolTech.toolTechId" >
    </mat-form-field>
    </div>
    <div class="row">
    <mat-form-field class="col-sm-3 form-group">
      <mat-label>Name</mat-label>
      <input matInput name="name" required id="tool-tech-name" [(ngModel)]="toolTech.name" >
    </mat-form-field>
   </div>
    <div class="button-tool-bar">
      <button mat-raised-button color="primary" [disabled]="!f.valid" >{{editMode ? 'Update' : 'Add'}}</button>
      <button mat-raised-button type="button" color="primary" (click)="onClear()">Clear</button>
      <button mat-raised-button type="button" color="primary" *ngIf="editMode" (click)="onDelete()">Delete</button>
    </div>
  </form>
</div>
