<div class="row">
  <div class="col-xs-12">
  <form (ngSubmit)="onAddClient(f)" #f="ngForm">
    <div class="row" hidden>
        <mat-form-field class="col-sm-5 form-group" appearance="fill">
          <mat-label>Date</mat-label>
        <input
          matInput
          id="client-id"
          class="form-control"
          name="clientId"
          [(ngModel)]="selectedClient.clientId" placeholder="id"
          readonly>
     </mat-form-field>
     </div>
    <div class="row">
      <mat-form-field class="col-sm-5 form-group" appearance="fill">
        <mat-label for="client-name">Client name:</mat-label>
        <input
          type="text"
          matInput
          id="client-name"
          class="form-control"
          name="name"
          [(ngModel)]="selectedClient.name" placeholder="name"
          required>
      </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-sm-5 form-group" appearance="fill">
          <mat-label for="client-url">Url:</mat-label>
          <input
            matInput
            type="text"
            id="client-url"
            class="form-control"
            name="url"
            [(ngModel)]="selectedClient.url" placeholder="url">
          </mat-form-field>
      </div>

        <div class="button-tool-bar">
          <button mat-raised-button color="primary" type="submit" [disabled]="!f.valid">{{ editMode ? 'Update' : 'Add'}}</button>
          <button mat-raised-button color="primary" *ngIf="editMode" (click)="onDelete()">Delete</button>
          <button mat-raised-button color="primary" type="button" (click)="onCancel()" >Back</button>
          <button mat-raised-button color="primary" type="button" *ngIf="editMode" (click)="onShowEngagements()">Engagements</button>
        </div>
</form>
</div>
</div>
