<form (ngSubmit)="onAddEngagementTheme(f)" #f="ngForm">
  <div class="row col-sm-7">
    <mat-form-field class="col-sm-10 form-group">
      <mat-label>Theme</mat-label>
        <mat-select required id="engagement-client" class="form-control" name="themeId" [(ngModel)]="engagementTheme.theme.themeId">
          <mat-option *ngFor="let theme of themes" [value]="theme.themeId">
            {{theme.name}}
          </mat-option>
        </mat-select>
    </mat-form-field>
    <!-- <div *ngIf="f.valid">
        ThemeId is valid
    </div>
    <div *ngIf="f.pristine">
      form is pristine
  </div> -->
  </div>
  <div class="button-tool-bar">
    <button mat-raised-button color="primary" [disabled]="(engagementTheme.theme.themeId == 0)">Add</button>
  </div>
</form>
