<table mat-table [dataSource]="devices" class="table mat-elevation-z8">
    <!-- Device Name-->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
     <!-- Device Type -->
     <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.deviceType.name}} </td>
      </ng-container>

       <!-- Device Category-->
    <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let element"> {{element.category.name}} </td>
      </ng-container>

       <!-- Device Sub-Category-->
    <ng-container matColumnDef="sub-category">
        <th mat-header-cell *matHeaderCellDef> Sub-Category </th>
        <td mat-cell *matCellDef="let element"> {{element.subCategory.name}} </td>
      </ng-container>


       <!-- Device IT Owner -->
    <ng-container matColumnDef="itowner">
        <th mat-header-cell *matHeaderCellDef> IT Owner </th>
        <td mat-cell *matCellDef="let element"> {{element.itowner}} </td>
      </ng-container>

    <!-- Edit-->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary" (click)="onDelete(element.deviceId)">Delete</button> </td>

    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row class="element-row"
    (click)="onSelect(row)"
    [class.row-is-clicked]="selectedDevice == row"
    *matRowDef="let row; columns: displayedColumns;"></tr>
    
  </table>
  