<table mat-table [dataSource]="engagementThemes" class="mat-elevation-z8 table">

  <ng-container matColumnDef="theme">
    <th mat-header-cell *matHeaderCellDef> Engagement Themes </th>
    <td mat-cell *matCellDef="let element"> {{element.theme.name}} </td>
  </ng-container>

  <!-- remove -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary" (click)="removeEngagementTheme(element.engagementThemeId)">Remove</button> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row class="element-row"
  (click)="onSelect(row)"
  [class.row-is-clicked]="selectedEngagementTheme == row"
  *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
