<form (ngSubmit)="onAddInterviewee(f)" #f="ngForm">

  <div class="row col-sm-5">
    <mat-form-field hidden>
      <mat-label>ID</mat-label>
      <input matInput readonly name="intervieweeId" id="interviewee-intervieweeId" [(ngModel)]="interviewInterviewee.interviewee.intervieweeId">
    </mat-form-field>
  </div>

  <div class="row col-sm-5">
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput required name="firstName" id="interviewee-firstname" [(ngModel)]="interviewInterviewee.interviewee.firstName">
    </mat-form-field>
  </div>

   <div class="row col-sm-5">
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput required name="lastName" id="interviewee-lastname" [(ngModel)]="interviewInterviewee.interviewee.lastName">
    </mat-form-field>
  </div>

  <div class="row col-sm-8">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput name="title" id="interviewee-title" [(ngModel)]="interviewInterviewee.interviewee.title">
    </mat-form-field>
  </div>

  <div class="row col-sm-8">
    <mat-form-field>
      <mat-label>Role</mat-label>
      <input matInput  name="role" id="interviewee-role" [(ngModel)]="interviewInterviewee.interviewee.role">
    </mat-form-field>
  </div>

  <div class="row col-sm-8">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput  name="emailAddress" id="interviewee-email" [(ngModel)]="interviewInterviewee.interviewee.emailAddress">
    </mat-form-field>
  </div>

  <div class="row col-sm-8">
    <mat-form-field>
      <mat-label>Phone</mat-label>
      <input matInput  name="phone" id="interviewee-phone" [(ngModel)]="interviewInterviewee.interviewee.phone">
    </mat-form-field>
  </div>


  <!-- <div class="row col-sm-8">
      <mat-form-field class="col-sm-5">
        <mat-label>Reports To</mat-label>
        <input type="text" matInput id="interviewee-reportstoid"  name="reportsToId" [(ngModel)]="interviewInterviewee.interviewee.reportsToId" [matAutocomplete]="auto" [value]="interviewInterviewee.interviewee.reportsToId">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let interviewee of filteredOptions | async" [value]="interviewee.intervieweeId">
            {{interviewee.fullName}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
  </div> -->

  <mat-form-field>
    <mat-label>Reports To</mat-label>
    <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto" [value]="interviewInterviewee.interviewee.reportsToId">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option.fullName}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <div class="button-tool-bar">
    <button type="submit" mat-raised-button color="primary" [disabled]="!f.valid">{{editMode ? 'Update' : 'Add'}}</button>
    <button type="button" mat-raised-button color="primary" (click)="onBack()">Back</button>
    <button type="button" mat-raised-button color="primary" *ngIf="editMode" (click)="onDelete()">Delete</button>
  </div>
</form>
