<div class="container" *ngIf="engagement">
  <div class="row">
    <app-engagement-header [engagement]="engagement"></app-engagement-header>
  </div>
  <div class="row col-md-2">
    <div class="tool-bar-button">
      <button mat-raised-button color="primary" (click)="onBack()">Back</button>
      <button mat-raised-button color="primary" (click)="onEdit()">Edit</button>
    </div>
  </div>
  <div class = "container" *ngIf="isEdit">
    <app-interviewee-edit [engagementId]="engagement.engagementId"></app-interviewee-edit>
  </div>
  <div class="row">
    <h2>Interviewee: {{selectedInterviewee.fullName}}</h2>
    <hr>
  </div>
  <div class="row">
    <h3>Title: {{selectedInterviewee.title}}</h3>
  </div>
  <div class="row" *ngIf="selectedInterviewee.role">
    <h3>Role: {{selectedInterviewee.role}}</h3>
  </div>
  <div class="row" *ngIf="this.reportsTo">
    <h3>Reports to: <a [routerLink]="['/viewinterviewee', this.reportsTo.intervieweeId]">{{this.reportsTo.fullName}}</a></h3>
  </div>


  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element">{{element.interviewee.firstName}} {{element.interviewee.lastName}}</td>
  </ng-container>

  <div class="row col-md-10">
    <table mat-table [dataSource]="interviewStatus" class="table mat-elevation-z8">
      <ng-container matColumnDef="interview">
        <th mat-header-cell *matHeaderCellDef>Interview</th>
        <td mat-cell *matCellDef="let element">{{element.interview.name}}</td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{element.interview.interviewStatus.name}}></td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell><button mat-raised-button color="primary">Review</button></td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedInterviewColumns"></tr>
      <tr mat-row class="element-row"
      (click)="onInterviewSelect(row)"
      [class.row-is-clicked]="selectedSurveyInterviewee == row"
      *matRowDef="let row; columns: displayedInterviewColumns;"></tr>

    </table>
  </div>
  <div class="row col-md-10">
  <table mat-table [dataSource]="surveyStatus" class="table mat-elevation-z8">
    <ng-container matColumnDef="survey">
      <th mat-header-cell *matHeaderCellDef>Survey</th>
      <td mat-cell *matCellDef="let element">{{element.survey.name}}</td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">{{element.status.name}}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td></td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedSurveyColumns"></tr>
    <tr mat-row class="element-row"
    (click)="onSurveySelect(row)"
    [class.row-is-clicked]="selectedSurveyInterviewee == row"
    *matRowDef="let row; columns: displayedSurveyColumns;"></tr>

  </table>
  </div>
</div>
