<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2>Devices</h2>
      </mat-panel-title>
      <mat-panel-description>
        Engagement Devices
      </mat-panel-description>
    </mat-expansion-panel-header>  
<section>
    <div class="example-button-row">
      <button mat-button color="primary" (click)="onAddDevice()">Add</button>
      <button mat-button color="primary" (click)="onViewDevices()">View</button>
    </div>
</section>
</mat-expansion-panel>
