<div class="row">
  <form #f="ngForm" (submit)="onAddQuestion(f)">

    <!-- Question Id -->
    <div class="row col-sm-3" hidden>
    <mat-form-field>
      <mat-label>Id</mat-label>
      <input readonly="true" matInput [(ngModel)]="question.questionId"  name="questionId" >
    </mat-form-field>
  </div>

    <!-- Question-->
    <div class="row col-sm-10">
    <mat-form-field>
      <mat-label>Question</mat-label>
      <textarea matInput [(ngModel)]="question.description" name="description" rows="5" required></textarea>
    </mat-form-field>
  </div>

    <!-- Interview ID -->
    <div class="row col-sm-3">
    <!-- <mat-form-field>
      <mat-label>interview:Id</mat-label>
      <input readonly matInput [(ngModel)]="question.interviewId" name="interviewId" required>
    </mat-form-field> -->
  </div><div class="button-tool-bar">
      <button mat-raised-button color="primary" [disabled]="!f.valid" (click)="onAddQuestion(f)">{{editMode ? 'Update' : 'Add'}}</button>
      <button mat-raised-button color="primary" type="button" *ngIf="editMode" (click)="onDelete()">Delete</button>
      <button mat-raised-button color="primary" type="button" (click)="onBack()">Back</button>
      <button mat-raised-button color="primary" type="button" (click)="onCopy()">Copy From...</button>
      <button mat-raised-button color="primary" type="button" (click)="onImport()">Import</button>
      <a mat-raised-button type="button" (click)="onDownloadQuestions()" >Download</a>
    </div>
  </form>
</div>
