<table mat-table [dataSource]="probabilities" class="mat-elevation-z8 table">
  <!-- name  -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <!-- description -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>
  <!-- score -->
  <ng-container matColumnDef="score">
    <th mat-header-cell *matHeaderCellDef> Score </th>
    <td mat-cell *matCellDef="let element"> {{element.score}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row class="element-row"
  (click)="onSelect(row)"
  [class.row-is-clicked]="selectedProbability == row"
  *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
