<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h2>Finding</h2>
    </mat-panel-title>
    <mat-panel-description>
      Engagement Findings
    </mat-panel-description>
  </mat-expansion-panel-header>

<div class="row">
  <p>Finding Count: {{findings.length}}</p>
</div>
  <div class="row">
  <div class="button-tool-bar">
      <button mat-raised-button color="primary" (click)="onViewFindings()">View</button>
      <button mat-raised-button color="primary" (click)="onAddFinding()">Add</button>
  </div>
    <div id="findingstatus" style="width: 400px;height:400px;"></div>
    <!-- <div id="interviewer" style="width: 400px;height:400px;"></div> -->
    <!-- <table mat-table [dataSource]="status" class="table mat-elevation-z8">
      Name
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.name }} </td>
      </ng-container>
      Value
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> Count </th>
        <td mat-cell *matCellDef="let element"> {{element.value }} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row class="element-row"
      *matRowDef="let row; columns: displayedColumns;"></tr>
    </table> -->
</div>
</mat-expansion-panel>
