<div class="container" *ngIf="engagement">
<div class="row">
  <app-engagement-header [engagement]="engagement"></app-engagement-header>
</div>
<div class="row">
<!-- Interview Count -->
<app-interview-dashboard [engagementId]="engagement.engagementId"></app-interview-dashboard>
</div>
<div class="row">
  <!-- Evidence Count -->
  <app-evidence-dashboard [engagementId]="engagement.engagementId"></app-evidence-dashboard>
  </div>
  <div class="row">
    <!-- Findings Count -->
    <app-finding-dashboard [engagementId]="engagement.engagementId"></app-finding-dashboard>
    </div>
  <div class="row">
    <!-- Interviewees -->
    <app-interviewee-dashboard [engagementId]="engagement.engagementId"></app-interviewee-dashboard>
  </div>
</div>
