<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onAdd(f)" #f="ngForm">
            <div class="row" hidden>
                <mat-form-field class="col-sm-5 form-group" appearance="fill">
                  <mat-label>ID</mat-label>
                <input
                  matInput
                  id="device-type-id"
                  class="form-control"
                  name="deviceTypeId"
                  [(ngModel)]="deviceType.deviceTypeId" placeholder="id"
                  readonly>
             </mat-form-field>
             </div>
            <div class="row">
              <mat-form-field class="col-sm-5 form-group" appearance="fill">
                <mat-label for="device-type-name">name:</mat-label>
                <input
                  type="text"
                  matInput
                  id="device-type-name"
                  class="form-control"
                  name="name"
                  [(ngModel)]="deviceType.name" placeholder="name"
                  required>
              </mat-form-field>
              </div>
                <div class="button-tool-bar">
                  <button mat-raised-button color="primary" type="submit" [disabled]="!f.valid">{{ editMode ? 'Update' : 'Add'}}</button>
                  <button mat-raised-button color="primary" *ngIf="editMode" (click)="onDelete()">Delete</button>
                  <button mat-raised-button color="primary" type="button" (click)="onCancel()" >Back</button>
                </div>
            </form>
    </div>
</div>