<div class="col-xs-12">
  <form (ngSubmit)="onAddMeetingType(f)" #f="ngForm">
    <!-- Meeting Type Id  -->
    <div class="row col-sm-3">
    <mat-form-field>
      <mat-label >ID:</mat-label>
      <input matInput id="meetingTypeId" name="meetingTypeId" [(ngModel)]="selectedMeetingType.meetingTypeId" readonly="">
    </mat-form-field>
    </div>
    <!-- Name -->
    <div class="row col-sm-10">
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput name="name" id="name" [(ngModel)]="selectedMeetingType.name" required>
    </mat-form-field>
    </div>
    <div class="row">
      <div class="button-tool-bar">
      <button mat-raised-button color="primary" [disabled]="!f.valid" type="submit">{{editMode? 'Update' : 'Add'}}</button>
      <button mat-raised-button color="primary" type="button" (click)="onDelete()" *ngIf="editMode" >Delete</button>
      <button mat-raised-button color="primary" type="button" (click)="onClear()">Clear</button>
    </div>
    </div>
  </form>
</div>
