<div class="col-xs-12">
  <form (ngSubmit)="onAddProcess(f)" #f="ngForm">
      <!-- ID -->
      <mat-form-field class="col-sm-3 form-group">
        <mat-label>ID</mat-label>
        <input matInput type="text" readonly [(ngModel)]="selectedProcess.processId"  name="processId" id="process-id">
      </mat-form-field>
      <!-- Name -->
      <mat-form-field class="col-sm-10 form-group">
        <mat-label>Name</mat-label>
        <input matInput type="text" required [(ngModel)]="selectedProcess.name" name="name" id="process-name">
      </mat-form-field>
      <!-- Process Domain ID -->
      <mat-form-field class="col-sm-5">
        <mat-label>Process Domain</mat-label>
        <mat-select matInput id="process-process-domain-id" name="processDomainId" [(ngModel)]="selectedProcess.processDomainId"  required>
          <mat-option *ngFor="let processDomain of processDomains" [value]="processDomain.processDomainId">
            {{processDomain.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    <div class="button-tool-bar">
      <button mat-raised-button color="primary" [disabled]="!f.valid">{{editMode ? 'Update' : 'Add'}}</button>
      <button mat-raised-button type="button" color="primary" *ngIf="editMode"  (click)="onDelete()">Delete</button>
      <button mat-raised-button type="button" color="primary" (click)="onClear()">Clear</button>
    </div>
  </form>
</div>
