<div class="col-xs-12">
  <form (ngSubmit)="onAddEvidenceType(f)" #f="ngForm">
    <!-- evidence Type ID -->
    <div class="row">
    <mat-form-field class="col-sm-3 form-group">
      <mat-label>ID:</mat-label>
      <input matInput readonly [(ngModel)]="evidenceType.evidenceTypeId" name="evidenceTypeId" id="evidencetype-evidencetypeid">
    </mat-form-field>
    </div>
    <!-- Evidence Type Name -->
    <div class="row">
      <mat-form-field class="col-sm-10 form-group">
        <mat-label>Name:</mat-label>
        <input matInput required [(ngModel)]="evidenceType.name" name="name" id="evidencetype-name">
    </mat-form-field>
    </div>
    <div class="button-tool-bar">
      <button mat-raised-button color="primary" [disabled]="!f.valid">{{editMode ? 'Update' : 'Add'}}</button>
      <button mat-raised-button type="button" *ngIf="editMode" color="primary" (click)="onDelete()">Delete</button>
      <button mat-raised-button type="button" color="primary" (click)="onClear()">Clear</button>
    </div>
  </form>
</div>
