<div class="row col-sm-10" *ngIf="interview">
<h2>{{interview.team.name + ' ' + (interview.interviewDate | date) }}</h2>

<div class="col-xs-12" *ngIf="questions">
  <form (ngSubmit)="onAddAnswer(f)" #f="ngForm">
    <div class="col-sm-10">
      <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
    </div>
    <h3>{{question.questionNumber + ') ' +  question.question.description + '?'}}</h3>
    <mat-form-field hidden>
      <label mat-label>ID</label>
      <input matInput name="interviewQuestionId" [(ngModel)]="question.interviewQuestionId">
    </mat-form-field>
    <div class="row col-sm-10">
    <mat-form-field>
      <label mat-label>Answer</label>
      <textarea matInput type="text" rows="5" name="answer" [(ngModel)]="question.answer" required></textarea>
    </mat-form-field>
    </div>
    <mat-form-field class="col-sm-5">
      <mat-label>Answered By</mat-label>
      <mat-select name="answerers" [(ngModel)]="answerers" multiple>
        <mat-option *ngFor="let interviewee of interviewees" [value]="interviewee.intervieweeId">{{interviewee.fullName}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="row col-sm-10">
      <mat-form-field>
        <label mat-label>Notes</label>
        <textarea matInput type="text" rows="5" name="notes" [(ngModel)]="question.notes"></textarea>
      </mat-form-field>
      </div>
    <mat-checkbox name="escalationRequired" [(ngModel)]="question.escalationRequired">Escalation Required</mat-checkbox>
<div class="button-tool-bar">
  <button mat-raised-button color="primary" type="button" [disabled]="questionIndex == 0" (click)="onPreviousQuestion()">Previous</button>
  <button mat-raised-button color="primary" type="button" [disabled]="(questionIndex == questionCount-1) || !f.valid" (click)="onNextQuestion()">Next</button>
  <button mat-raised-button color="primary" type="button" (click)="onBack()">Cancel</button>
  <button mat-raised-button color="primary" type="button" *ngIf="(questionIndex == questionCount-1) && f.valid" (click)="onConclude()">Conclude</button>
</div>
</form>
</div>
